/Temp
/.vscode
/Library
/Packages
/UIElementSchema
/UserSettings
/Assembly-CSharp.csproj
/Assembly-CSharp-Editor.csproj
/Assembly-CSharp-firstpass.csproj
/Dia.sln
/InkEditor.csproj
/Ink-Libraries.csproj
